<!-- app/views/comments/_comment.html.erb -->
<div id="<%= dom_id(comment) %>" class="comment-box" style="margin-left: <%= comment.depth_level * 20 %>px; border-left: 2px solid #ddd; padding-left:  10px; margin-bottom: 15px;">
  <div class="d-flex  align-items-center mb-2">
    <% if comment.user.avatar.attached? %>
      <%= image_tag comment.user.avatar, class: "rounded-circle me-2", style: "width: 30px; height: 30px; object-fit: cover; " %>
    <% end %>
    <strong><%= comment.user.username || comment.user.email %></strong>
    <small class="text-muted ms-2"> <%= time_ago_in_words(comment.created_at) %> ago</small>
  </div>

  <p><%= comment.text %></p>

  <div class="d-flex">
    <div data-controller="reply" style="margin-right: 8px">
      <%= link_to "Reply", "#", class: "btn btn-sm btn-outline-secondary", data: { action: "click->reply#toggle", comment_id: comment.id } %>
    </div>
    <!-- like button -->
    <%= render "likes/like_button", likeable: comment %>
  </div>
  <!-- Reply form hidden initially -->
  <div id="reply-form-<%= comment.id %>" style="display: none;">
    <%= render partial: "comments/form", locals: { comment: Comment.new(parent_id: comment.id), post: comment.post } %>
  </div>

  <!-- Recursive rendering -->
  <div id="replies_<%= comment.id %>">
    <%= render partial: "comments/comment", collection: comment.replies.order(:created_at), as: :comment %>
  </div>
</div>
