
<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= link_to "", post, class: "post-link" %>
  </p>
  <p>
    <% post.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 300px") %>
    <% end %>
  </p>

  <p>
    <%= post.title%>
  </p>

</div>
<%= turbo_frame_tag "like_listener_#{post.id}" do %>
  <%= render partial: "posts/likes_section", locals: { post: post } %>
<% end %>
<p>
    <%= link_to post.user.username, post.user, style: "z-index:"%>
</p>



